@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"] - Reza Ghochkhani</h1>
<hr />
<p>
    .NET developer with over 6 years of experience in enterprise software development using Microsoft technologies. Involved in projects of national and international magnitude. Has always been a member of design teams and brainstorming sessions due to efficiency in pinpointing potential threats, understanding and documenting customer needs and requirements and extracting software specifications. Winner of Iran’s National Elite Foundation’s ICT entrepreneurial award and military service exemption award.
</p>

<div style="margin-top: 50px;" class="d-flex justify-content-center">
    <img src="~/Images/Logo-White.png" alt="ReGo Logo" width=500px />
</div>