@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MateMachine.CurrencyConverter</h1>
    <h5>You can use this application to define exchange rates and easily convert currencies</h5>
</div>
